.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
}

.cards > ul > li {
  border: none;
  background-color: #fff;
  transition: .3s;
  cursor: pointer;
}

.cards > ul > li:hover {
  transform: translate(0, -10px);
}

.cards .cards-card-body {
  margin-top: 10px;
  font-family: var(--body-font-family) !important;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
}


.cards-card-body  {
  line-height: 1 !important;
}




